@import "../../App.scss";

.product-section {
    height: 100vh;
    background: $gray-100;
}

.product-details {
    width: 110px;
    font-size: 13px;
    background: white;

    .product-image {
        width: 95px !important;
        height: 90px !important;
    }
}

.product-details:hover {
    opacity: .7;
    border: .5px solid rgb(82, 80, 80) !important;
}