@import "../../App.scss";

.cart-section{
    height: 100vh;
    background: $gray-100;
}

.main-cart-table{
    height: 40vh;
    font-size: 14px;
}
.cart-thead{
    background-color: #3d8bfd;
    color: white;
    border-color: #5a5a5a36;
}

// .total-payable{
//     background-color: black;
//     color: white;
// }
// .totalPayable{
//     background: #3c3a3a;
//      color: white
// }

// .largeButton {
//     width: 100%;
//     color: white
// }