@import "../../App.scss";

.cart-section {
    height: 100vh;
    background: $gray-100;
}

.main-cart-table {
    height: 45vh;
    font-size: 13px;

    @media (min-width: 1680px) {
        height: auto;
        max-height: 60vh;
    }
}

.cart-thead {
    background-color: #3d8bfd;
    color: white;
    border-color: #5a5a5a36;
}

.button-cursor {
    cursor: pointer;
}